{% if isSmartProductManagementEnabled is defined and isSmartProductManagementEnabled %}
    <button type="button" class="ai-query-builder__trigger"
            data-ai-start
            data-target-field="[name='{{ data.field.vars.full_name }}']"
            data-source-field="[name='{{ data.field.vars.full_name }}']"
            data-current-locale="{{ data.locale.localeName }}"
            data-target-popover=".all-ai-actions-popover"
    >
        <img width="24" src="{{ assetsPath('img/ai-action-icon.svg') }}" >
    </button>
{% endif %}
