{% block body %}
    {% block assets %}
        <script src="{{ assetsPath('js/spryker-ai-commerce-smart-product-management.js') }}"></script>
    {% endblock %}

    {% include '@AiCommerce/SmartProductManagement/ProductManagement/_partials/image-alt-text.twig' %}

    {% embed '@AiCommerce/SmartProductManagement/_partials/ai-popover.twig' with {
        id: 'ai-category-modal',
        emptyText: 'Please fill in the product name and description for at least one locale' | trans,
    } %}
        {% block content %}
            <select multiple dropdown-parent=".js-modal-body" class="js-ai-category-select spryker-form-select2combobox"></select>
        {% endblock %}
    {% endembed %}

    {% embed '@AiCommerce/SmartProductManagement/_partials/ai-popover.twig' with {
        id: 'ai-alt-text-modal',
        emptyText: 'Please fill in the product image url' | trans,
    } %}
        {% block content %}
            <input class="form-control js-ai-alt-text-input"/>
        {% endblock %}
    {% endembed %}

    {% embed '@AiCommerce/SmartProductManagement/_partials/ai-popover.twig' with {
        id: 'ai-translation-modal',
        emptyText: 'Please fill in text to translate' | trans,
    } %}
        {% block content %}
            <div class="modal-subtitle">{{ 'Translated to:' | trans }} <strong class="js-translate-to"></strong></div>

            <input name="ai-translation-preview[name]" class="ai-translation-control js-ai-translation-control form-control" />
            <textarea name="ai-translation-preview[description]" class="ai-translation-control js-ai-translation-control form-control"></textarea>
        {% endblock %}
    {% endembed %}

    {% include '@SprykerFeature:AiCommerce/SmartProductManagement/_partials/ai-request-builder-popovers.twig' %}
{% endblock %}
