@mixin ai-commerce-search-by-image($name: '.search-by-image') {
    #{$name} {
        &__file-input {
            position: absolute;
            left: -200vw;
            opacity: 0;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }

        &__file-view {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__error {
            color: map-get($setting-color-actions, 'alert');
            padding: 0.5rem 0;
        }

        &__search-by-photo-popup {
            width: 100dvw;
            height: 100dvh;
            min-width: 100dvw;
            min-height: 100dvh;
            left: 0;
            top: 0;
            transform: none;
            display: flex;

            .main-popup__content {
                flex-grow: 1;
                padding: 0;
            }

            .search-by-image {
                height: 100%;
            }
        }

        @content;
    }
}
